.reveal pre code {
  font-size: 1.2em;
  line-height: 1.1;
  max-height: 500px !important;
}

.reveal pre {
  width: 120%;
  margin-left: -10%;
}

.reveal pre code .line:after {
    content:"\000A";
    white-space: pre;
}